body {
  font-family: Arial;
  }

  input:hover {
    border-color: orangered;
  }

  input {
    border-color: blue;
  }


  p:hover {
    color: orange;
  }

  input:focus {
    width: 400px;
  }

  p:nth-child(even){
    background-color: grey;
  }

