<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- fonte: https://github.com/sergiomoura/contatos-html-template/blob/main/css/geral.css -->
    <style>
      * {
        box-sizing: border-box;
        font-family: "Open Sans", Arial, sans-serif;
      }

      body {
        padding: 0;
        margin: 0;
        background: #f2f2f2;
        color: black;
        height: 100%;
        background-size: cover;
        font-weight: bold;
      }

      /* body::before {
        height: 100%;
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        position: fixed;
        left: 0;
        top: 0;
      } */

      form label {
        /* font-size: 0.8rem; */
        /* display: block; */
        /* margin: 0 0 10px 0; */
      }

      button {
        background: green;
        text-decoration: none;
        color: white;
        padding: 0.6em 1.3em;
        font-size: 1em;
        border-radius: 4em;
        border: none;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
      }
    </style>

    <style>
      body {
        align-items: center;
        justify-content: center;
      }
      form {
        background-color: #f0f0c6;
        padding: 40px;
        box-shadow: 0 0 2px inset rgba(256, 256, 256, 0.3);
        width: 400px;
        margin: 50px auto;
      }

      form input {
        display: block;
        width: 100%;
      }

      form .controles {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 0;
      }

      .registrar {
        text-align: center;
        font-size: 1.5em;
      }
    </style>

    <title>Contatos</title>
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="container">
          <a class="logo" href="#">Explore<span>SE</span></a>

          <img
            id="mobile-cta"
            class="mobile-menu"
            src="/img/menu.svg"
            alt="menu"
          />

          <nav>
            <img
              id="mobile-exit"
              class="mobile-menu-exit"
              src="/img/exit.svg"
              alt="close-nav"
            />
            <ul class="primary-nav">
              <li><a href="">Quem Somos</a></li>
              <li><a href="">Trilhas</a></li>
              <li><a href="">Comunidade</a></li>
            </ul>
            <ul class="secondary-nav">
              <li><a href="registrar">Registrar</a></li>
              <li class="button1"><a href="registrar">Entrar</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <form>
      <p class="registrar">REGISTRAR</p>
      <label>
        Nome:
        <input type="text" name="nome" id="nome" />
      </label>
      <label>
        E-mail:
        <input type="email" name="email" id="email" />
      </label>
      <label>
        Senha:
        <input type="email" name="email" id="email" />
      </label>
      <label>
        Confirmação de Senha:
        <input type="email" name="email" id="email" />
      </label>
      <div class="controles">
        <button class="link">Cancelar</button>
        <button type="submit">Registrar</button>
      </div>
    </form>
    <div class="container-footer">
      <footer>
        <div>
          <a href="#"
            ><img
              class="footer-logo"
              src="/img/githublogo.png"
              alt="footerlogo"
          /></a>
          <a href="#"
            ><img class="footer-logo" src="/img/whatsapp.png" alt="footerlogo"
          /></a>
          <a href="#"
            ><img class="footer-logo" src="/img/discord.png" alt="footerlogo"
          /></a>
        </div>
      </footer>
    </div>
  </body>
</html>
