:root {
  --primary-color: green;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.logo span {
  color: green;
}

nav {
  display: none;
}

.container {
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
  width: 2em;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

/* .left-col {
} */

.subhead {
  font-weight: bold;
  color: rgb(117, 117, 8);
  text-transform: uppercase;
}
.subhead span {
  color: green;
}

h1 {
  text-transform: uppercase;
  color: rgb(77, 77, 6);
  font-size: 2em;
  margin-top: 0.1em;
}

.primary-cta {
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  padding: 0.6em 1.3em;
  font-size: 1em;
  border-radius: 4em;
  font-weight: bold;
  display: inline-block;
}

.watch-video-cta {
  display: block;
  margin-top: 1em;
}

.watch-video-cta img {
  margin-right: 0.6em;
}

.hero-img {
  width: 70%;
  margin-top: 2.5em;
}

.features-section {
  background: #20272e;
  color: white;
}

.features-list li {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 1.2;
}

.features {
  cursor: pointer;
  margin-top: 1.2em;
  color: rgb(252, 252, 236);
}

.features-list h2 {
  text-align: center;
  padding-bottom: 1em;
  text-transform: uppercase;
  color: rgb(229, 226, 226);
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: #f2f2f2;
  color: black;
}

.testimonials-section img {
  width: 5em;
  height: 5em;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  margin-top: -4.5em;
  margin-right: 80%;
}

.testimonials-section li {
  background: rgb(185, 247, 185);
  text-align: center;
  padding: 2em 1em;
  margin: 0 auto 3em auto;
  border-radius: 0.8em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  /* flex-direction: column; */
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: 4em;
  cursor: pointer;
  width: 100%;
  padding: 0.7em 2em;
  margin-top: 2em;
}

.contact-section {
  background-color: rgb(245, 245, 225);
}

.contact-container {
  width: 100%;
  margin: 0 auto;
}

.contact-title {
  text-align: center;
  text-transform: uppercase;
}

.container-footer {
  background: #20272e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}

.footer-logo {
  padding: 3px 0;
  width: 2em;
  height: 2em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 1;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.4em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

/* adding media query for large phone or tablets */

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: flex;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .logo {
    font-size: 2em;
    position: unset;
  }

  .navbar ul,
  .navbar a {
    color: #4d4d06;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  ul.primary-nav {
    font-size: 0.7em;
    gap: 3em;
    text-transform: uppercase;
    align-items: center;
    padding-left: 6em;
  }

  ul.secondary-nav {
    font-size: 0.7em;
    gap: 1em;
    text-transform: uppercase;
    align-items: center;
    /* display: flex; */
  }

  .button1 {
    background: var(--primary-color);
    text-decoration: none;
    color: white;
    padding: 0.6em 1.3em;
    font-size: 1em;
    border-radius: 4em;
    font-weight: bold;
    display: inline-block;
  }

  .button1 a {
    color: white;
    background: var(--primary-color);
  }
  .hero-img {
    width: 45%;
    /* height: 20em; */
  }

  .contact-container {
    width: 60%;
    margin: 0 auto;
  }

  .contact-title {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }

  .hero-img {
    width: 30%;
    /* height: 20em; */
  }

  .testimonials-section ul {
    display: flex;
  }

  .testimonials-section ul li {
    margin: 0 1em;
  }

  .contact-section {
    background-color: rgb(245, 245, 225);
  }

  .contact-container {
    width: 50%;
    margin: 0 auto;
  }

  .contact-title {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
  }
}
